# Project place file
/QueryAuthDemo.rbxlx

# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock

# Rojo files
sourcemap.json

# Pesde
/.pesde
/luau_packages
/lune_packages

# Build files
QueryAuth.rbxm